@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Zalando Sans", sans-serif;
}

header, footer{
    background-color: rgb(148,54,52);
}

header {
    border-bottom: 2px solid rgb(179, 92, 76);
}

footer {
    border-top: 2px solid rgb(179, 92, 76);
}

body {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    background-color: rgb(210,130,100);
}

h1 {
    font-size: 50px;
    text-align: center;
}

.footer-div {
    flex: 1;
    text-align: center;
}

.footer {
    display: flex;
}

input {
    height: 25px;
    width: 250px;
    text-align: center;
    margin: 10px;
}

a:visited {
    color: #0000EE;
}

#moviebox-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.movie-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(180,90,50);
    width: 400px;
    margin: 10px;
    border: 2px solid rgb(200,110,80);
}

.movie-poster {
    width: 206px;
    height: 309px;
    padding-top: 20px;
}

.movie-title {
    font-size: 24px;
    color: black !important; /*Override a:visited*/
}

.movie-startdate {

}

.movie-enddate {

}