#calendar {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.week-calendar {
    border-collapse: collapse;
    width: 95%;
    background-color: rgb(180, 90, 50);
    color: white;
    border: 2px solid rgb(200, 110, 80);
    font-family: "Zalando Sans", sans-serif;
}

.week-calendar th,
.week-calendar td {
    border: 1px solid rgb(200, 110, 80);
    padding: 10px;
    text-align: center;
}

.week-calendar th {
    background-color: rgb(148, 54, 52);
    font-size: 18px;
}

.week-calendar td {
    height: 80px;
    vertical-align: middle;
}

.week-calendar tr:nth-child(even) {
    background-color: rgb(160, 80, 60);
}

.shift {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
    padding: 5px;
}
